<div class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
            <li class="nav-item">
              <a (click)="doctorView()" routerLinkActive="current" class="nav-link"><span>Doctor view</span></a>
                </li>
  </ul>
  </div>
<div class="odd-section">
    <div class="container">
      <table class="table table-responsive table-striped table-sm table-hover">
            <caption>Patient and Appointments Details</caption>
        <tbody *ngFor="let app of appoint|keyvalue">
          <tr>
            <th scope="row">Appointment Id </th>
            <td>{{app.value['appointmentId']|json}}</td>
          </tr>
          
          <tr>
            <th scope="row">Date of Appointment </th>
            <td> {{app.value['dateOfAppointment']}}</td>
          </tr>
          <tr>
            <th scope="row">Time of Appointment</th>
            <td>{{app.value['timeOfAppointment']}}</td>
          </tr>
          <tr>
            <th scope="row">Patient Id</th>
            <td>{{app.value['patient']['patientAge']}}</td>
          </tr>
          <tr>
            <th scope="row">Patient Name</th>
            <td>{{app.value['patient']['patientName']}}</td>
          </tr>
          <tr>
            <th scope="row">Patient Name</th>
            <td>{{app.value['patient']['patientAge']}}</td>
          </tr>
          <tr>
            <th scope="row">Patient Name</th>
            <td>{{app.value['patient']['patientDOB']}}</td>
          </tr>
          <!---
          <tr>
            <th scope="row">Patient Id</th>
            <td>{{patient?.patientId}}</td>
          </tr>
          <tr>
            <th scope="row">Patient Name</th>
            <td>{{patient?.patientName}}</td>
          </tr>
          <tr>
            <th scope="row">Patient Age</th> 
            <td>{{patient?.patientAge}}</td>
          </tr>
          <tr>
            <th scope="row">Patient DOB</th>
            <td>{{patient?.patientDOB}}</td>
          </tr>
        -->
        </tbody>
      </table>
    </div>
  </div>
  <br>
  <button (click)="goBack()" class="btn btn-sm btn-primary">Go Back</button>
