/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
body{
    padding: 20px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
