<table class="table table-striped table-hover table-responsive-sm">
    <caption>
        prescribed tests
    </caption>
    <thead>
        <tr>
        <th>
            Test count No
        </th>
        <th>
            Test Name
        </th>
        <th>
            Test Description
        </th>
        <th>
            View Report
        </th>
        </tr>
    </thead>
    <tbody *ngFor="let t of test|keyvalue;let i=index">
        <tr *ngIf="t.value['testName']">
            <td>{{i+1}}</td>
            <td>
                {{t.value['testName']}} 
            </td>
            <td>
                {{t.value['testDescription']}}
            </td>
            <td>
                <button (click)="viewReport(t.value['testId'])" class="btn btn-sm btn-info">View</button>
            </td>
        </tr>
    </tbody>
</table>

<button (click)="goBack()" class="btn btn-sm btn-primary">Go Back</button>